<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PubNub_SubscribeKey" value="sub-c-7ae1fef8-6bde-11e7-8db3-0619f8945a4f" />
    <add key="PubNub_PublishKey" value="pub-c-b76af99a-918a-47ce-9f1c-2b317022ad8f" />
    <add key="PubNub_SubscribeChannel1" value="af0813e6-81c0-4a77-89d2-3338d0277c42_pub1" />
    <add key="PubNub_SubscribeChannel2" value="af0813e6-81c0-4a77-89d2-3338d0277c42_pub2" />
    <add key="PubNub_SubscribeChannel3" value="af0813e6-81c0-4a77-89d2-3338d0277c42_pub3" />
    <add key="PubNub_SubscribeChannel4" value="af0813e6-81c0-4a77-89d2-3338d0277c42_pub4" />
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Extensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>